
body {
	background-color: black;
	color: white;
}

header {
	float: left;
	width: 25%;
	color: green;
	
}
nav {
	float: right;
	margin:120px 0 0 0;
	width: 70%;
	
}
footer {
	text-align: left;
	clear: both;
}
nav a {
	padding: 20px;
	color: green;
    background-color: pink;
	text-decoration: none;
}

main {
	clear: left;
	color: green;
	margin: 120px 0 0 0;
}

#leftColumn {
	float: left;
	width: 45%;
	margin: 1%
	
}

#rightColumn {
	float: right;
	width: 45%;
	margin: 1%;
}

.borderedImage {
	border: 3px solid pink;
	padding: 5px;
	margin: 10px;
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}
nav li {
	display: inline;
}
	

